@font-face {
    font-family: 'MasonChronicles';
    src: url('../fonts/MasonChronicles.woff') format('woff'),
         url('../fonts/MasonChronicles.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-height: 100vh;

    background-color: #141218;

    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-position: top right 20%;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #fff;
}

.container {
    width: 95%;
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 60px;
    margin-bottom: 90px;
}

.menu-list {
    margin-right: auto;
    margin-left: 67px;
}

.menu-link {
    margin-right: 24px;

    font-size: 14px;
    line-height: 16px;

    color: #FFFFFF;

    text-decoration: none;
}

.social-link {
    margin-left: 20px;

    text-decoration: none;
}

.genre {
    display: block;

    font-size: 14px;
    line-height: 16px;

    margin-bottom: 16px;

    animation-delay: .1s;
}

.rating {
    display: flex;
    align-items: center;

    margin-bottom: 10px;

    animation-delay: .3s;
}

.rating-number {
    margin-left: 9px;

    font-size: 12px;
    line-height: 14px;
}

.main-content {
    display: flex;
    align-items: center;

    margin-bottom: 85px;
}

.main-title {
    font-family: 'MasonChronicles', serif;
    font-size: 76px;
    line-height: 89px;

    margin-bottom: 10px;

    animation-delay: .5s;
}

.main-description {
    max-width: 458px;

    font-size: 14px;
    line-height: 150%;

    margin-bottom: 40px;

    animation-delay: .7s;
}

.button {
    display: inline-block;
    background-color: #9D2929;
    border-radius: 8px;
    color: #fff;
    border: none;
    padding: 22px 72px;
    text-decoration: none;

    animation-delay: .9s;
}

.button:active {
    color: #fff;
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100px;
    height: 100px;

    margin: auto;

    position: relative;

    background-color: #9D2929;

    border: none;
    border-radius: 50%;
}

.play-img {
    position: relative;
    transform: translateX(5px);
}

.play::before {
    content: '';

    position: absolute;
    left: -16px;
    top: -16px;

    width: 132px;
    height: 132px;

    background-color: #9D2929;
    opacity: 0.5;

    border-radius: 50%;

    animation: pulse .5s ease-in-out 2s infinite;
}

/* slider */

.series {
    display: flex;
    align-items: center;

    max-width: 420px;
    position: relative;

    margin-bottom: 99px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-right: 30px;
    padding: 13px;

    width: 164px;
    height: 113px;

    border-radius: 8px;
}

.card-subtitle {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 2px;
}

.card-title {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
}

.series-1 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-1.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-2 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-2.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-3 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-3.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-4 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-4.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-5 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-5.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-6 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-6.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-7 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-7.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.series-8 {
    background: linear-gradient(180deg, rgba(20, 18, 24, 0.5) 0%, #2D2D2D 100%), url('../img/series/series-8.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.arrow {
    width: 32px;
    height: 23px;

    position: absolute;
    top: 50%;
    right: -35px;

    border: none;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.swiper-container {
    max-width: 420px;
    margin-left: 0;
}

/* footer */

.footer {
    margin-top: auto;
    padding: 20px 0;

    background-color: #141218;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.copyright {
    color: #3A383D;
}

.footer-link {
    text-decoration: none;
    color: #3A383D;
    margin-left: 25px;
}

.menu-button {
    display: none;
}

/* Responsive */

@media (max-width: 760px) {
    .play {
        display: none;
    }

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .copyright {
        display: block;
        margin-bottom: 8px;
    }

    .footer-link:first-child {
        margin-left: 0;
    }
}

@media (max-width: 540px) {
    .menu-button {
        display: block;
        position: absolute;
        top: 40px;
        right: 35px;
        width: 30px;
        height: 2px;
        background-color: #fff;

        cursor: pointer;
    }

    .menu-button::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: transform .2s;
        margin-top: -7px;
    }

    .menu-button::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 2px;
        background-color: #fff;
        transition: transform .2s;
        margin-top: 7px;
    }

    .menu-button-active {
        height: 0;
    }

    .menu-button-active::before {
        transform: rotate(45deg);
        margin-top: 0;
    }

    .menu-button-active::after {
        transform: rotate(-45deg);
        margin-top: 0;
    }

    .header {
        display: none;

        flex-direction: column;
        
        position: absolute;
        top: 0;
        right: 0;

        width: 250px;

        padding-bottom: 40px;

        background-color: #9D2929;
    }

    .header-active {
        display: flex;
    }

    .logo {
        margin-bottom: 25px;
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin: auto;
        order: 2;
    }

    .menu-link {
        margin-right: 0;
        margin-bottom: 17px;
    }

    .social {
        order: 1;
        margin-bottom: 22px;
    }

    .social-link:first-child {
        margin-left: 0;
    }

    .swiper-container {
        width: 80%;
    }

    .main-content {
        margin-top: 196px;
    }

    .main-title {
        font-size: 56px;
    }

    .series {
        width: 80%;
    }
}